body{
	background-color: #ededed;
}
.btn{
	transition: all 0.2s;
	padding: 0;
	margin: 0;
}
nav.navbar{
	background: #4f81bc;
	border: none;
	height: 65px;
	line-height: 65px;
}
/* ==========================================================================
  	Game CSS
   ========================================================================== */
.rounded{
	border-radius: 10px;
}
.drop-shadow{
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 25px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

.akr-btn{
	border-radius: 4px;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ececec;
	display: inline-block;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.akr-btn:hover,
.akr-btn:active,
.akr-btn.btn-back:hover:before{
	background-color: #4F81BC;
	color: white;
	transition: all 0.3s;
}

.akr-btn.btn-back:before {
    content: "";
    position: absolute;
    background-color: #ececec;
    width: 30px;
    height: 30px;
    left: -10px;
    top: 3px;
    transform: rotate(45deg);
    border-radius: 8px;
    z-index: -1;
}
.game-main .btn-back{
    margin-left: 25px;
	
}
.akr-wrapper{
	margin-top: 40px;
}

.game-main{
	background-color: white;
	height: 80vh;
	position: relative;
	padding: 25px;
}
.game-main .action-bar{
	margin-bottom: 25px;
}

.game-main .box{
	border: 1px solid #eeeeee;
	box-shadow: 0px 5px 0 #dcdddf;
	width: 200px;
	height: 200px;
	border-radius: 4px;
	position: relative;
}

.game-main .speaker{
	background: url(../img/speaker.png) no-repeat center;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -15px;
	background-size: contain;
	cursor: pointer;
}

.game-main .footer{
	background-color: #4f81bc;
	border-radius: 0px 0px 10px 10px;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.game-main .footer .btn-test{
	border: 4px solid white;
	border-radius: 6px;
	box-shadow: 2px 4px 0 #406899;
	color: white;
	text-align: center;
	font-size: 20px;
	width: 180px;
	height: 60px;
	display: inline-block;
	line-height: 52px;
	margin-top: 18px;
	margin-left: 30px;
	cursor: pointer;
}
.game-main .footer .btn-test:hover,
.game-main .footer .btn-test:active{
	background-color: white;
	color: #4F81BC;
}
.game-sidebar{
	height: 100%;
	height: 80vh;
	background-color: white;
	padding: 20px;
	overflow: auto;
}

.game-sidebar .title {
    text-align: center;
    text-transform: uppercase;
    color: #4f81bc;
    font-size: 20px;
    padding-top: 20px;
    margin: 0;
}

.game-sidebar .question-list{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 40px;
}
.game-sidebar .question-list li{
	border-radius: 10px;
	width: 100%;
	height: 45px;
	color: #838383;
	padding-left: 22px;
	text-transform: uppercase;
	font-size: 19px;
	line-height: 46px;
	margin-bottom: 10px;
	background-color: #ededed;
	cursor: pointer;
	transition: all 0.2s;
}
.game-sidebar .question-list li:hover,
.game-sidebar .question-list li:active{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.34);
	
}
.game-sidebar .question-list .correct{
	background-color: #77a751;
	color: white;
}
.game-sidebar .question-list .wrong{
	background-color: #f52c3e;
	color: white;
}
.game-sidebar .question-list .active{
	background-color: #4f81bc;
	color: white;
}
